<template>
  <div class="bg-[#f5f5f5]">
    <full-loading v-if="full_loading"></full-loading>
    <NuxtLayout>
      <NuxtPage/>
    </NuxtLayout>
  </div>
</template>
<script>
import {mapActions, mapState} from 'pinia'
import {useGlobalStore} from "@/stores/global";

export default {
  name: "app",
  data() {
    return {
      isMobile: false
    }
  },
  computed: {
    ...mapState(useGlobalStore, ['full_loading'])
  },
  beforeMount() {
    if (!JSON.parse(localStorage.getItem('userInfo'))) {
      this.logout()
    }
  },

  methods: {
    ...mapActions(useGlobalStore, ['logout']),
  },
}
</script>