<template>
  <toast :show="displayToast"
         :data="responseData"
         :type="responseType"></toast>

  <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 w-[70%] mx-auto gap-x-10 pt-10">


    <div class="flex flex-col w-full bg-[#fff] rounded-xl p-4 h-fit">
      <h3 class="mb-3">درجه هتل</h3>

      <div v-for="(degree,index) in 5"
           :key="index"
           class="inline-flex items-center mb-2">
        <label
            class="relative flex cursor-pointer items-center rounded-full px-3"
            for="degree"
            data-ripple-dark="true"
        >
          <input
              id="degree"
              type="checkbox"
              :value="degree"
              v-model="degreeValue"
              class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:bg-[#fff] checked:before:bg-[#fff] hover:before:opacity-10"
          />
          <Checkbox></Checkbox>
        </label>
        <label
            class="flex items-center mt-px cursor-pointer select-none font-light text-gray-700 text-xs"
            for="degree"
        >
          <div v-if="degree === 1"
               class="flex items-center">
            <FillGray></FillGray>
            <EmptyGray v-for="deg in 4"></EmptyGray>
          </div>
          <div v-if="degree === 2"
               class="flex items-center">
            <FillGray v-for="deg in 2"></FillGray>
            <EmptyGray v-for="deg in 3"></EmptyGray>
          </div>
          <div v-if="degree === 3"
               class="flex items-center">
            <FillGray v-for="deg in 3"></FillGray>
            <EmptyGray v-for="deg in 2"></EmptyGray>
          </div>
          <div v-if="degree === 4"
               class="flex items-center">
            <FillGray v-for="deg in 4"></FillGray>
            <EmptyGray></EmptyGray>
          </div>
          <div v-if="degree === 5"
               class="flex items-center">
            <FillGray v-for="deg in 5"></FillGray>
          </div>
          ({{ numToLetter(degree) }} ستاره)
        </label>
      </div>

    </div>


    <div class="block col-span-2 w-full rounded-xl">
      <div v-for="hotel in filteredHotels"
           class="max-w-sm w-full lg:max-w-full lg:flex mb-4 bg-[#fff] rounded-xl">

        <div class="relative w-full h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-r-xl text-center"

             :style="{'background-image': `url(${hotel.img})`}"
             :title="hotel.name">
          <div
              class="flex flex-col text-xs absolute top-6 -left-4 bg-[#d52437] rounded-lg rounded-tr-none rounded-bl-none text-[#fff] p-2">
            <span>تخفیف</span>
            <span>۵۰٪</span>
          </div>
        </div>

        <div
            class="relative w-full bg-white rounded-b lg:rounded-b-none lg:rounded-r pt-4 pb-1 pl-4 pr-10 flex flex-col justify-between leading-normal">
          <div class="w-[100px] p-1 rounded-md rounded-bl-none absolute left-0 bg-[#2480d5] text-[#fff] text-xs">
            <span>توصیه شده توسط {{ hotel.customer_rank }}% مسافران</span>

          </div>
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-lg mb-1 flex-wrap w-[calc(100%_-_100px)]">
              {{ hotel.name }}
            </div>
            <p class="flex items-center text-gray-700 text-xs mb-2">

              <div v-if="hotel.rank === 1"
                   class="flex items-center">
                <FillRed></FillRed>
                <EmptyGray v-for="deg in 4"></EmptyGray>
              </div>
              <div v-if="hotel.rank === 2"
                   class="flex items-center">
                <FillRed v-for="deg in 2"></FillRed>
                <EmptyGray v-for="deg in 3"></EmptyGray>
              </div>
              <div v-if="hotel.rank === 3"
                   class="flex items-center">
                <FillRed v-for="deg in 3"></FillRed>
                <EmptyGray v-for="deg in 2"></EmptyGray>
              </div>
              <div v-if="hotel.rank === 4"
                   class="flex items-center">
                <FillRed v-for="deg in 4"></FillRed>
                <EmptyGray></EmptyGray>
              </div>
              <div v-if="hotel.rank === 5"
                   class="flex items-center">
                <FillRed v-for="deg in 5"></FillRed>
              </div>

              <span>({{ numToLetter(hotel.rank) }} ستاره)</span>

            </p>
            <p class="text-[#888] text-xs flex items-start">
              <svg class="w-3 h-3 ml-1"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 384 512">
                <path fill="#888"
                      d="M272 192C272 236.2 236.2 272 192 272C147.8 272 112 236.2 112 192C112 147.8 147.8 112 192 112C236.2 112 272 147.8 272 192zM192 160C174.3 160 160 174.3 160 192C160 209.7 174.3 224 192 224C209.7 224 224 209.7 224 192C224 174.3 209.7 160 192 160zM384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192H384zM192 48C112.5 48 48 112.5 48 192C48 204.4 52.49 223.6 63.3 249.2C73.78 274 88.66 301.4 105.8 329.1C134.2 375.3 167.2 419.1 192 451.7C216.8 419.1 249.8 375.3 278.2 329.1C295.3 301.4 310.2 274 320.7 249.2C331.5 223.6 336 204.4 336 192C336 112.5 271.5 48 192 48V48z"></path>
              </svg>
              {{ hotel.address }}
            </p>

            <div class="flex items-center">
              <div class="flex items-center rounded-md bg-[#d52437] text-[#fff] w-fit text-xs py-1 px-2 mt-2 ml-4">
                <svg class="w-3 h-3 ml-1"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                  <path fill="#fff"
                        d="M256 101L294.8 38.97C309.9 14.73 336.5 0 365.1 0H368C412.2 0 448 35.82 448 80C448 98.01 442 114.6 432 128H464C490.5 128 512 149.5 512 176V240C512 260.9 498.6 278.7 480 285.3V448C480 483.3 451.3 512 416 512H96C60.65 512 32 483.3 32 448V285.3C13.36 278.7 0 260.9 0 240V176C0 149.5 21.49 128 48 128H79.99C69.95 114.6 64 98.01 64 80C64 35.82 99.82 0 144 0H146.9C175.5 0 202.1 14.73 217.2 38.97L256 101zM365.1 32C347.5 32 331.2 41.04 321.9 55.93L276.9 128H368C394.5 128 416 106.5 416 80C416 53.49 394.5 32 368 32H365.1zM235.1 128L190.1 55.93C180.8 41.04 164.5 32 146.9 32H144C117.5 32 96 53.49 96 80C96 106.5 117.5 128 144 128H235.1zM48 160C39.16 160 32 167.2 32 176V240C32 248.8 39.16 256 48 256H240V160H48zM272 256H464C472.8 256 480 248.8 480 240V176C480 167.2 472.8 160 464 160H272V256zM240 288H64V448C64 465.7 78.33 480 96 480H240V288zM272 480H416C433.7 480 448 465.7 448 448V288H272V480z"></path>
                </svg>
                <span class="text-xs">تا {{ hotel.score }} امتیاز</span>
              </div>

              <div class="flex items-center">
                <svg class="w-3 h-3 ml-1"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="#888"
                        d="M440.1 103C450.3 112.4 450.3 127.6 440.1 136.1L176.1 400.1C167.6 410.3 152.4 410.3 143 400.1L7.029 264.1C-2.343 255.6-2.343 240.4 7.029 231C16.4 221.7 31.6 221.7 40.97 231L160 350.1L407 103C416.4 93.66 431.6 93.66 440.1 103V103z"></path>
                </svg>
                <span class="text-xs">رزرو آنلاین</span>
              </div>

            </div>

          </div>

        </div>
        <div class="w-[60%] flex flex-col items-center justify-center border-r">
          <span class="text-[#888] text-xs mb-2">شروع قیمت برای ۱ شب</span>
          <span class="text-sm">{{ moneyFormatter(hotel.price) }} تومان</span>
          <button-component type="button"
                            text="انتخاب اتاق و رزرو"
                            txt-color="text-[#fff]"
                            custom-style="w-fit text-center bg-[#02bd7d] flex items-center p-2 text-lg mt-4">

          </button-component>
        </div>
      </div>


    </div>

  </div>

</template>

<script>
import {mapActions, mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
  name: "list",
  data() {
    return {
      hotels: [],
      filteredHotels: [],
      responseData: null,
      responseType: null,
      degreeValue: []
    }
  },
  computed: {
    ...mapState(useGlobalStore, ['displayToast'])
  },
  watch: {
    'degreeValue': function (newVal, oldVal) {
      this.filterHotel(newVal)
    }
  },
  mounted() {
    this.fetchHotelList()
  },
  methods: {
    ...mapActions(useGlobalStore, ['toastTimeOut']),
    numToLetter(value) {
      if (value === 1) {
        return 'یک'
      } else if (value === 2) {
        return 'دو'
      } else if (value === 3) {
        return 'سه'
      } else if (value === 4) {
        return 'چهار'
      } else if (value === 5) {
        return 'پنج'
      }
    },
    fetchHotelList() {
      this.$api.get(`/hotel`)
          .then(response => {
            this.hotels = response.data.data
            this.filteredHotels = this.hotels
          }).catch(error => {
        console.log(error, ' error')
        this.responseType = 'error'
        this.responseData = error.response.data.message
        this.toastTimeOut()

      })
    },
    filterHotel(degree) {
      console.log(degree, ' degree')
      const hotelsList = this.hotels

      if (degree.length > 0) {
        this.filteredHotels = hotelsList.filter(hotel => {
          if (degree.includes(hotel.rank)) {
            return hotel
          }
        })
      } else {
        this.filteredHotels = this.hotels
      }

    },
    bgImage(image) {
      console.log(image, ' image')
      return `bg-[url('${image}')]`
    },
    moneyFormatter(num) {
      return Number(num).toLocaleString();
    },
  }
}
</script>

<script setup>
import Checkbox from "~/components/Checkbox.vue";
import FillGray from "~/components/FillGray.vue";

definePageMeta({
  layout: 'background'
})
</script>

<style scoped>

</style>