<template>
  <div v-if="show"
       id="myToast"
       class="z-[1] w-max bg-white-100 mx-auto fixed inset-x-0 bottom-10 px-5 py-4 rounded border-l-8 drop-shadow-lg"
       :class="getBorderType">
    <p class="text-sm dir-ltr text-left">
      {{ data }}
    </p>
  </div>
</template>

<script>

export default {
  name: "Toast",
  props: ['show', 'data', 'type'],
  computed: {
    getBorderType() {
      if (this.type === 'success') {
        return 'border-success-200'
      } else if (this.type === 'error') {
        return 'border-error-200'
      } else {
        return 'border-blue-500'
      }
    }
  }
}
</script>

<style scoped>

</style>