@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F2F2F2;
  --secondary: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransans !important;
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWeb_Medium.woff2);
}