<template>
  <div class="min-h-screen w-full h-full relative bg-gradient-to-b from-[#c9dee8] from-0% via-30% to-[#f5f5f500] to-100%">
    <!--    <div class="absolute top-0 w-full h-full bg-[#c9dee8] bg-gradient-to-b from-[#c9dee8] from-0% via-30% to-[#f5f5f500] to-100%"></div>-->
    <slot/>
  </div>
</template>
<script>
export default {
  name: "main",
}
</script>
<style scoped>

</style>