<template>
  <toast :show="displayToast"
         :data="responseData"
         :type="responseType"></toast>

  <div class="h-screen grid grid-cols-1">
    <div class="w-full flex justify-center items-center h-screen overflow-y-hidden md:overflow-y-auto">
      <section class="text-right flex justify-center w-full">
        <div class="flex flex-col items-center justify-center w-full md:w-auto">
          <h1 class="mb-5 text-2xl text-center">ورود به سایت هتل یار</h1>
          <div class="w-auto md:w-[440px] px-5 md:px-auto rounded-xl bg-[#fff] p-4">
            <form autocomplete="off"
                  class="space-y-4 md:space-y-6 w-full"
                  @submit.prevent="login">


              <div class="relative flex items-center">
                <label for="username"
                       class="text-[#222] w-[30%] text-sm transform transition-all h-full flex items-center pl-2 peer-valid:text-xs peer-valid:h-1/2 peer-valid:-translate-y-full peer-valid:pl-0">
                  ایمیل</label>
                <input type="tel"
                       id="username"
                       v-model="email"
                       class="text-left dir-ltr px-2 rounded-lg bg-[#fff]  w-[70%] h-10 text-sm peer outline-none border border-[#d1d1d1] focus:border-[#888] transition-all"
                       autocomplete="false">
              </div>

              <div class="relative flex items-center">
                <label for="password"
                       class="text-[#222] w-[30%] text-sm transform transition-all h-full flex items-center pl-2 peer-valid:text-xs peer-valid:h-1/2 peer-valid:-translate-y-full peer-valid:pl-0">
                  کلمه عبور</label>
                <input type="password"
                       id="password"
                       v-model="password"
                       class="text-left dir-ltr px-2 rounded-lg bg-[#fff] w-[70%] h-10 text-sm peer outline-none border border-[#d1d1d1] focus:border-[#888] transition-all"
                       autocomplete="false">
              </div>


              <button-component type="submit"
                                :loading="loginLoading"
                                text="ورود به پنل هتلیار"
                                txt-color="text-[#fff]"
                                custom-style="w-full text-center bg-[#ad1f24] flex items-center px-2 py-4 text-lg ml-2">

              </button-component>

            </form>
          </div>

        </div>
      </section>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
  name: "index",
  data() {
    return {
      loginLoading: false,
      email: '',
      password: '',
      loginObj: {},
      responseData: null,
      responseType: null,
      userInfo: {}
    }
  },
  computed: {
    ...mapState(useGlobalStore, ['displayToast'])
  },
  mounted() {
    localStorage.clear()
  },
  methods: {
    ...mapActions(useGlobalStore, ['toastTimeOut']),
    login() {

      if (!this.email || !this.password) {
        this.responseType = 'error'
        this.responseData = 'لطفاً ایمیل و رمز عبور خود را وارد نمائید'
        this.toastTimeOut()
        return
      }

      this.loginLoading = true

      this.loginObj.email = this.email
      this.loginObj.password = this.password

      this.$api.post(`/auth/login`, this.loginObj)
          .then(response => {
            if (response.data.meta.status) {
              this.responseType = 'success'

              this.userInfo.token = response.data.data.token
              localStorage.setItem('userInfo', JSON.stringify(this.userInfo))

              this.$router.push({
                path: 'list'
              })

            } else {
              this.responseType = 'error'
            }

            // this.responseData = response.data.meta.message
            //
            // this.toastTimeOut()

            this.loginLoading = false


          }).catch(error => {

        this.responseType = 'error'
        this.responseData = error.response.data.meta.message

        this.toastTimeOut()

        this.loginLoading = false


      });

    },
  }
}
</script>

<script setup>
definePageMeta({
  layout: 'background'
})
</script>

<style scoped>

</style>